PORT=5000

MONGO_URI=mongodb+srv://sujalsm24hit_db_user:sujalsunilm@cluster0.ojeccmx.mongodb.net/local-language-learning?retryWrites=true&w=majority&appName=Cluster0

JWT_SECRET=YourSecretKey123

CLIENT_URL=http://localhost:5173

NODE_ENV=development